$color-primary:#dbdfdf;
$font-color:#635f5f;
$color-secondary:#1a73e8;

.neomorph{
    border-radius: 25px;
    background: #dbdfdf;
    box-shadow: 12px 12px 24px #babebe, -12px -12px 24px #f1efef;
}